// COLOR VARIABLES
$color-1: #000000;
$color-2: #ffffff;
$color-3: #4c586f;
$color-4: #ebeced;
$color-5: #a2aab0;
$color-6: #cbc5c1;

// FONT VARIABLES
$font: 'Open Sans', sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  font-family: $font;
  color: $color-1;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.2;
  background-color: $color-2;
  height: 100%;
}
