.mmm {
  &__header {
    padding-top: 4px;
    background-color: $color-3;
    height: 30px;
    h1 {
      color: $color-2;
      font-size: 2rem;
      letter-spacing: 0.2rem;
      padding: 0 5px;
    }
  }
  &__main {
    display: flex;
    height: calc(100vh - 31px);
  }
  &__text {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    width: 30%;
    height: 100%;

    input,
    textarea {
      font-size: 1.6rem;
      font-family: $font;
      padding: 0.5rem;
      outline: none;
      width: 100%;
      height: 100%;
      border: 0 solid $color-1;
    }
    input {
      height: 30px;
    }
  }

  &__mindmap {
    display: flex;
    flex-direction: column;
    width: 70%;
    &--svg {
      padding: 1rem;
      width: 100%;
      height: 100%;

      svg {
        max-width: 100%;
        height: 95%;
        cursor: Move;
        position: relative;
      }

      div.tooltip {
        position: absolute;
        font-size: 1.4rem;
        top: 30px;
        left: 0;
        width: 25%;
        height: calc(100vh - 30px);
        padding: 2px;
        background: $color-4;
        border: 0px;
        //pointer-events: none;
        z-index: 100;
      }
      .node text {
        font-size: 13px;
        //cursor: pointer;
      }

      .node--internal circle {
        fill: $color-3;
      }

      .node--internal text {
        text-shadow: 1px 1px 0px #ffffff, 1px -1px 0px #ffffff, -1px -1px 0px #ffffff, -1px 1px 0px #ffffff;
      }

      .link {
        fill: none;
        stroke: $color-5;
        stroke-opacity: 0.3;
        stroke-width: 1px;
      }
    }
    &--buttons {
      height: 30px;
      display: flex;
    }
  }
}
